* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

hr {
  color: lightgray;
}

@media only screen and (min-width: 500px) {
  * {
    font-size: 18px;
  }
}

.main-container {
  max-width: 70%;
  min-width: 500px;
  margin: auto;
  padding: 0;
}

.main-menu-container {
  border: 1px dotted grey;
  display: flex;
  justify-content: end;
  margin: 10px 0;
}

.nav-link {
  font-family: monospace;
  color: darkblue;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 20px 10px 0;
}

.board-link {
  font-family: monospace;
  color: blue;
  text-decoration: underline;
  display: block;
  text-align: center;
  font-size: 1.2em;
  margin: 10px auto;
}

.home-container {
  border: 1px dashed grey;
}

.home-title {
  text-align: center; 
  margin: 2rem 0;
}

.board-title {
  text-align: center;
  margin: 10px;
}

.board-page {
  display: block;
  text-align: center;
  color: grey;
}

.btn-primary {
  font-family: monospace;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.new-post {
  margin: 20px 0;
  padding: 20px;
}

.new-post-title, .new-post-text, .btn-submit {
  display: block;
  width: 100%;
  font-family: monospace;
  font-size: 1em;
  margin-bottom: 20px;
}

.new-post-text {
  resize: vertical;
}

.btn-submit {
  margin: 0;
}

.btn-small {
  font-size: x-small;
  margin: 0 0 0 5px;
}

.thread-container .btn-open-thread {
  display: none;
}

.post-bar {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.post-meta {
  font-size: small;
  color: grey;
  margin-bottom: 2em;
}

.post-container:hover .post-bar {
  display: flex;
  justify-content: end;
}

.post-container {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  min-width: 50%;
  border: 1px dotted grey;
}

.thread-container {
  margin: 20px 0;
}

.post-preview {
  max-width: 75%;
}

.thread-title {
  display: block;
}

.thread-body {
  margin-top: 20px;
}

.board-container .op-post, .post-container.op-post {
  border: 1px dashed black;
}

.new-post.op-post {
  border: 1px solid black;
}

.post-title {
  display: block;
  font-weight: bold;
  margin: 10px 0 0;
}

.post-picsrelated, .post-replies {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.post-pic {
  max-height: 6em;
  max-width: 9em;
}

.post-picsrelated a, .post-picsrelated span {
  font-size: small;
}

.post-text {
  text-align: justify;
  margin: 10px 0 0;
}

.post-replies {
  margin-top: 10px;
}

.dynamic-post-container {
  position: relative;
}

.dynamic-post-link:hover + .dynamic-post {
  display: block;
}

.dynamic-post {
  position: absolute;
  bottom: 20px;
  right: 0;
  z-index: 420;
  background-color: whitesmoke;
  overflow: visible !important;
}

.loading-text {
  font-family: monospace;
}
